@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 83% 96%; /* Floral White */
    --foreground: 224 10% 10%;

    --card: 0 0% 91%; /* Platinum */
    --card-foreground: 224 10% 10%;
 
    --popover: 0 0% 91%; /* Platinum */
    --popover-foreground: 224 10% 10%;
 
    --primary: 133 8% 78%; /* Jet Stream */
    --primary-foreground: 224 10% 10%;
 
    --secondary: 0 0% 91%; /* Platinum */
    --secondary-foreground: 224 10% 10%;
 
    --muted: 0 0% 91%; /* Platinum */
    --muted-foreground: 215 16% 47%;
 
    --accent: 38 41% 86%; /* Almond */
    --accent-foreground: 224 10% 10%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 15 10% 83%; /* American Silver */
    --input: 15 10% 83%; /* American Silver */
    --ring: 133 8% 78%; /* Jet Stream */
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
 
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 133 8% 78%; /* Jet Stream */
    --primary-foreground: 224 10% 10%;
 
    --secondary: 240 4% 65%; /* Metallic Silver */
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 38 41% 86%; /* Almond */
    --accent-foreground: 224 10% 10%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 15 10% 83%; /* American Silver */
    --input: 15 10% 83%; /* American Silver */
    --ring: 133 8% 78%; /* Jet Stream */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
